
.shiny-progress-container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent
    background-repeat:no-repeat;
    background-position: center center;
}

.shiny-notification {
              height: 100px;
              width: 800px;
              position:fixed;
              top: calc(50% - 50px);;
              left: calc(50% - 400px);;
}
